.unit-card {
  padding-bottom: 0px;
}

.blue-card.mat-card {
  background-color: navy;
}

.red-card.mat-card {
  background-color: crimson;
}

.unit-image-container {
  cursor: pointer;
}

.mat-card-image {
  margin-bottom: 0px;
}

.mat-slider-horizontal {
  padding: 0px;
  margin-top: -20px;
  margin-bottom: -9px;
}

.mat-card-content {
  width: calc(26px * 5); /* display 5 buffs per row */
  min-height: calc(152px - 5px); /* -5px from negative margin at .buff-value */
}

.buffs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.buff-container {
  display: flex;
  flex-direction: column;
  margin-left: -4px;
}

.buff-key {
  width: 30px;
}

.buff-key img {
  width: 100%;
}

.buff-value {
  text-align: center;
  margin-bottom: -5px;
}