.unit-card {
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.mat-card {
  width: calc(26px * 5); /* display 5 buffs per row */
}

.blue-card.mat-card {
  background-color: navy;
}

.red-card.mat-card {
  background-color: crimson;
}

.gp-card.mat-card {
  background-color: transparent;
  padding-top: 0px;
}

.unit-image-container {
  cursor: pointer;
}

.unit-image-container.leader {
  margin-top: -16px;
}

.mat-card-image {
  margin-bottom: -6px;
  /* change material calcs because we changed card padding from 16px to 5px */
  width: calc(100% + 10px);
  margin-left: -5px;
  margin-right: -5px;
}

.mat-slider-horizontal {
  padding: 0px;
  margin-top: -20px;
  margin-bottom: -9px;
}

.mat-card-content {
  width: 100%;
}

.buffs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(107px - 5px); /* -5px from negative margin at .buff-value */
}

.buff-container {
  display: flex;
  flex-direction: column;
  margin-left: -4px;
}

.buff-key {
  width: 30px;
}

.buff-key img {
  width: 100%;
}

.buff-value {
  text-align: center;
  margin-bottom: -5px;
}

.leader-icon {
  position: absolute;
  top: -10px;
  left: 37px;
  width: 50px;
}