<div class="container-fluid">
  <table class="table table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>R. Type</th>
        <th>Targets </th>
        <th class>HP</th>
        <th>ATK </th>
        <th>RCV</th>
        <th>DEF</th>
        <th>SPD </th>
        <th>Special (Max)</th>
        <th>Ability (Max)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unit of units">
        <td> <a href="http://optc-db.github.io/characters/#/view/{{unit.id}}">{{unit.id}}</a></td>
        <td> {{unit.name}}</td>
        <td [innerHTML]="unit.getType()"></td>
        <td [innerHTML]="unit.getRumbleType()"></td>
        <td> {{ unit.festAttackTarget }}</td>
        <td> {{ unit.baseHp }}</td>
        <td> {{ unit.baseAtk }}</td>
        <td> {{ unit.baseRcv }}</td>
        <td> {{ unit.getBaseDef() }}</td>
        <td> {{ unit.baseSpd }}</td>
        <td [innerHTML]="unit.getFestSpecial()"></td>
        <td [innerHTML]="unit.getFestAbility()"></td>
      </tr>
    </tbody>
  </table><!--
  <div class="card text-center" *ngIf="selectedContact">
      <div class="card-header">
        # {{selectedContact.id}}
      </div>
      <div class="card-block">
        <h4 class="card-title">{{selectedContact.name}}</h4>
        <p class="card-text">
          {{selectedContact.description}}
        </p>
      </div>

    </div>-->
</div>
