<div class="container-fluid">
  <form class="form-inline" #optionBarForm="ngForm">
    <span class="my-2 mx-1">Stat Type:</span>
    <div class="form-check-inline">
      <input class="form-check-input" [(ngModel)]="statType" type="radio" name="statType" id="statTypeRaw" value="RAW" checked>
      <label class="form-check-label" for="statTypeRaw">Raw</label>
    </div>
    <div class="form-check-inline">
      <input class="form-check-input" [(ngModel)]="statType" type="radio" name="statType" id="statTypeComputed" value="COMPUTED">
      <label class="form-check-label" for="statTypeComputed">Computed</label>
    </div>
    {{statType}}
    <label class="form-control-inline my-2 mx-1" for="statBaseValue"> Stat Value: </label>
    <select class="form-control-inline" id="statBaseValue">
      <option>Max Level</option>
      <option>Max Level + 300 CC</option>
      <option>Max Level, 300 CC, & LB Rainbowed</option>
      <option>Max Level, 300 CC, & LB+ Rainbowed</option>
      <option>Character Log (Custom Values)</option>
    </select>
  </form>
</div>
