.full-width-table {
  width: 100%;
}

input, mat-form-field {
  padding-left: 2em;
}

mat-cell, .mat-cell {
  min-height:auto;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 12px;
}

ul, li {
  list-style-type: '- ';
  margin: 0em 0em 0em 1em;
  padding: 0;
}

a {
  color: #BBB;
}

a:hover {
  color: #DDD;
}

a:visited {
  color: #999;
}

.mat-column-name {
  min-width: 10rem;
  max-width: 10rem;
}

.mat-column-lvl10Cooldown {
  max-width: 3rem;
}

.mat-column-type {
  max-width: 4rem;
  text-align: center;
}

.mat-column-baseHp, .mat-column-baseAtk, .mat-column-baseRcv, .mat-column-baseSpd, .mat-column-baseDef {
  max-width: 4rem;
  text-align: right;
}

.thumbnail{
    position: relative;
    display: inline-block; /* Make the width of box same as image */
}
.thumbnail .idNumber{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
    background-color: rgba(0,0,0,0.7);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 25px;
}

p.gp {
  margin-top: 10px;
  font-weight: bold;
}
