.full-width-table {
  width: 100%;
}

input, mat-form-field {
  padding-left: 2em;
}

mat-cell, .mat-cell {
  min-height:auto;
  padding-right: 12px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: #BBB;
}

a:hover {
  color: #DDD;
}

a:visited {
  color: #999;
}

.mat-column-name {
  min-width: 8rem;
  max-width: 12rem;
}
