.full-width-table {
  width: 100%;
}

input, mat-form-field {
  padding-left: 2em;
}

mat-cell, .mat-cell {
  min-height:auto;
  padding-right: 12px;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
