<div mat-dialog-title class="title-container">
  <h2>
    Pick unit
  </h2>
  <div class="buttons">
    <button mat-raised-button color="accent" (click)="reset()">Reset</button>
    <button *ngIf="current != null" mat-raised-button color="warn" (click)="onUnset()">Unset</button>
  </div>
</div>
<ng-container *ngIf="(units | unitFilter : filter) as filtered">
  <mat-dialog-content>
    <fieldset class="search">
      <legend>Filters</legend>
      <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <div class="name-filter" fxLayout="column" fxGrow="2">
          <mat-form-field class="full-width" color="accent">
            <input
              cdkFocusInitial
              matInput
              placeholder="Search unit"
              type="text"
              name="name"
              [(ngModel)]="filter.filter"
            />
          </mat-form-field>
        </div>
        <div class="small-filters" fxLayout="column">
          Ability buffing
          <mat-button-toggle-group [(ngModel)]="filter.abilityTargetType" (change)="abilityTargetTypeChange($event)">
            <mat-button-toggle value="any">Any</mat-button-toggle>
            <mat-button-toggle value="crew">Crew</mat-button-toggle>
            <mat-button-toggle value="class">Class</mat-button-toggle>
            <mat-button-toggle value="type">Type</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="small-filters" fxLayout="column">
          Special buffing
          <mat-button-toggle-group [(ngModel)]="filter.specialTargetType" (change)="specialTargetTypeChange($event)">
            <mat-button-toggle value="any">Any</mat-button-toggle>
            <mat-button-toggle value="crew">Crew</mat-button-toggle>
            <mat-button-toggle value="class">Class</mat-button-toggle>
            <mat-button-toggle value="type">Type</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="20px">
        <div fxLayout="column" class="type-filters">
          <app-type-picker [type]="filter.types" (classChange)="typeChange($event)"></app-type-picker>
          <mat-checkbox
            name="hideBaseForms"
            [(ngModel)]="filter.hideBaseForms"
            (ngModelChange)="resetPage()">
            Hide unevolved units
          </mat-checkbox>
        </div>
        <div fxLayout="column" class="class-filters">
          <app-class-picker [class]="filter.classes" (classChange)="classChange($event)"></app-class-picker>
          <mat-checkbox
            name="includeOtherClasses"
            [(ngModel)]="filter.includeOtherClasses"
            (ngModelChange)="resetPage()">
            Include other classes
          </mat-checkbox>
        </div>
        <div fxLayout="column" class="buff-filters small-filters">
          <app-buff-picker (effectChange)="effectChange($event)"></app-buff-picker>
          <p>
            Search buffs on
            <mat-button-toggle-group [(ngModel)]="filter.buffSearch" (change)="buffSearchChange($event)">
              <mat-button-toggle value="both">Both</mat-button-toggle>
              <mat-button-toggle value="ability">Ability</mat-button-toggle>
              <mat-button-toggle value="special">Special</mat-button-toggle>
            </mat-button-toggle-group>
          </p>
        </div>
      </div>
    </fieldset>
    <div class="results" fxLayout="row wrap">
      <div class="result-container" *ngFor="let unit of filtered | slice:filter.page * filter.limit:filter.page * filter.limit + filter.limit">
        <img 
          [src]="unit.thumbnailUrl" 
          [alt]="unit.name" 
          class="result"
          (click)="onPick(unit)"
          [mdePopoverTriggerFor]="unitPopover"
        />
        <mde-popover
          [mdePopoverOverlapTrigger]="false"
          mdePopoverPositionX="after"
          #unitPopover="mdePopover"
          mdePopoverArrowWidth="0"
        >
          <app-unit-details-card *ngIf="unit" [unit]="unit"></app-unit-details-card>
        </mde-popover>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <mat-paginator
      #paginator
      [length]="filtered.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 50, 100]"
      (page)="pageChange($event)"
    >
    </mat-paginator>
  </mat-dialog-actions>
</ng-container>
