mat-button-toggle-group {
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

mat-button-toggle {
  border-color: rgba(255, 255, 255, 0.12);
  border-style: solid;
  border-width: 1px;
}

.mat-button-toggle-checked {
  background-color: #444499;
}


.warning {
	text-align: right;
	/*float: right;*/
  width: 100%;
}

.warning h2 {
	background-color: yellow;
	padding: 0.5em;
	text-align: left;
  color: black;
  border-radius: 0.25em;
}
