<mat-card>
  <div class="mat-card-header">
    <h2 class="unit-name" [title]="unit.name">{{unit.name}}</h2>
    <div class="unit-attributes">
      <img *ngFor="let attribute of attributes"
        [src]="attribute.img"
        [alt]="attribute.desc"
        [title]="attribute.desc"
        width="48"
        height="48"
      />
    </div>
  </div>
  <mat-card-content>
    <section *ngIf="detailsType == 'normal'">
      <h3>Ability</h3>
      <div class="section-content">
        <ul>
          <span *ngFor="let effect of unit.lvl5Ability" [innerHtml]="effect | effect"></span>
        </ul>
      </div>
    </section>
    <section *ngIf="detailsType == 'gp' && unit.lvl5GPAbility">
      <h3>Leader Ability ({{unit.gpStyle}})</h3>
      <div class="section-content">
        <ul>
          <span *ngFor="let effect of unit.lvl5GPAbility" [innerHtml]="effect | effect"></span>
        </ul>
      </div>
    </section>
    <section *ngIf="detailsType == 'normal'">
      <h3>Special (CT {{unit.lvl10Cooldown}})</h3>
      <div class="section-content">
        <ul>
          <span *ngFor="let effect of unit.lvl10Special" [innerHtml]="effect | effect"></span>
        </ul>
      </div>
    </section>
    <section *ngIf="detailsType == 'gp' && unit.lvl5GPSpecial">
      <h3>GP Burst ({{unit.gpspecial[unit.gpspecial.length-1].uses}} uses - {{ unit.gpcondition[0] | condition}})</h3>
      <div class="section-content">
        <ul>
          <span *ngFor="let effect of unit.lvl5GPSpecial" [innerHtml]="effect | effect"></span>
        </ul>
      </div>
    </section>
    <section *ngIf="unit.pattern">
      <h3>Attack</h3>
      <div class="section-content">
        <dd>Pattern: {{unit.pattern | pattern}}</dd>
        <dd *ngIf="unit.target">Target: {{unit.target | targetPriority}}</dd>
      </div>
    </section>
    <div class="two-column-wrapper">
      <section *ngIf="unit.resilience">
        <h3>Resistance</h3>
        <div class="section-content">
          <ul>
            <li *ngFor="let r of unit.resilience">{{ r | resilience }}</li>
          </ul>
        </div>
      </section>
      <section *ngIf="unit.stats">
        <h3>Stats</h3>
        <div class="section-content">
          <dd class="combat-stat-container"><span class="combat-stat" *ngFor="let stat of combatStats">{{stat.key | uppercase}}: {{stat.value}}</span></dd>
        </div>
      </section>
    </div>
  </mat-card-content>
</mat-card>