<h1>Filters</h1>
<form #filterForm="ngForm" (ngSubmit)="handleFormChange(filterForm)">
  <!-- <mat-form-field> -->
  <!-- <mat-chip-list [selectable]="selectable">
  	<mat-chip *ngFor="let chip of type" [removable]="removable" (removed)="remove(filterForm, 'type' ,chip)">{{chip}}
  		<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  	</mat-chip>
  	<mat-chip *ngFor="let chip of class" [removable]="true">{{chip}}
  		<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
  	</mat-chip>
  </mat-chip-list> -->
<!-- </mat-form-field> -->
  <!--
  <mat-card>
    <mat-card-title>Base Data Sources</mat-card-title>
    <mat-card-actions align="start">
      <p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="RAW" name="statType" [(ngModel)]="statType">
          <mat-button-toggle value="RAW"  matTooltip="RAW" selected>Raw</mat-button-toggle>
          <mat-button-toggle value="COMPUTED"  matTooltip="COMPUTED">Computed</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <p>
        <mat-form-field appearance="fill" [(ngModel)]="statBaseValue" name="statBaseValue">
          <mat-label>Base Stat Value:</mat-label>
          <mat-select>
            <mat-option value="LEVEL">Max Level</mat-option>
            <mat-option value="CC">Max Level + 300 CC</mat-option>
            <mat-option value="LB">Max Level, 300 CC, & LB Rainbowed</mat-option>
            <mat-option value="LBPLUS">Max Level, 300 CC, & LB+ Rainbowed</mat-option>
            <mat-option value="CL">Character Log (Custom Values)</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
    </mat-card-actions>
  </mat-card>
-->
<!--  <mat-slide-toggle value="hideBaseForms">Hide Base Forms</mat-slide-toggle>-->
  <mat-card>
    <mat-card-title>Base Forms</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group aria-label="Hide Base Forms" [(ngModel)]="hideBaseForms" name="hideBaseForms" [value]="hideBaseForms" (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="true"  matTooltip="Hide Base Forms">Hide</mat-button-toggle>
        <mat-button-toggle value="false"  matTooltip="Show Base Forms">Show</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-divider [inset]="true"></mat-divider>
  <mat-card>
    <mat-card-title>Grand Party Stats</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Grand Party Stats" [(ngModel)]="gpStats" name="gpStats" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="unique" matTooltip="Unique">Unique</mat-button-toggle>
        <mat-button-toggle value="standard" matTooltip="Standard">Standard</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Type</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="wrap" aria-label="Type Filter" [(ngModel)]="type" name="type" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="STR"  matTooltip="STR"><img src="assets/images/filter_attribute_power.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DEX"  matTooltip="DEX"><img src="assets/images/filter_attribute_technical.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="QCK"  matTooltip="QCK"><img src="assets/images/filter_attribute_speed.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="PSY"  matTooltip="PSY"><img src="assets/images/filter_attribute_heart.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="INT"  matTooltip="INT"><img src="assets/images/filter_attribute_intellect.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DUAL"  matTooltip="DUAL"><img src="assets/images/filter_attribute_multiplecharacter.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Class</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Class Filter" [(ngModel)]="class" name="class" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="Fighter"  matTooltip="Fighter"><img src="assets/images/filter_type_icn_1.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Slasher"  matTooltip="Slasher"><img src="assets/images/filter_type_icn_2.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Striker"  matTooltip="Striker"><img src="assets/images/filter_type_icn_3.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Shooter"  matTooltip="Shooter"><img src="assets/images/filter_type_icn_4.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Free Spirit"  matTooltip="Free Spirit"><img src="assets/images/filter_type_icn_5.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Driven"  matTooltip="Driven"><img src="assets/images/filter_type_icn_6.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Cerebral"  matTooltip="Cerebral"><img src="assets/images/filter_type_icn_7.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Powerhouse"  matTooltip="Powerhouse"><img src="assets/images/filter_type_icn_8.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Style</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Style Filter" [(ngModel)]="style" name="style" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="ATK"  matTooltip="ATK"><img src="assets/images/filter_style_icon_01.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DEF"  matTooltip="DEF"><img src="assets/images/filter_style_icon_02.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="RCV"  matTooltip="RCV"><img src="assets/images/filter_style_icon_03.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="SPT"  matTooltip="SPT"><img src="assets/images/filter_style_icon_04.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DBF"  matTooltip="DBF"><img src="assets/images/filter_style_icon_05.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>

  <mat-divider [inset]="true"></mat-divider>
  <mat-card>
    <mat-card-title>Buffs</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Buff Filter" [(ngModel)]="buffs" name="buffs" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="ATK"  matTooltip="ATK"><img src="assets/images/pirates_arena_attack_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="HP"  matTooltip="HP"><img src="assets/images/pirates_arena_strength_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="RCV"  matTooltip="RCV"><img src="assets/images/pirates_arena_cure_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DEF"  matTooltip="DEF"><img src="assets/images/pirates_arena_defence_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="SPD"  matTooltip="SPD"><img src="assets/images/pirates_arena_speed_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Critical Hit"  matTooltip="Critical Hit"><img src="assets/images/pirates_arena_critical_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Guard"  matTooltip="Guard"><img src="assets/images/pirates_arena_guard_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Accuracy"  matTooltip="Accuracy"><img src="assets/images/pirates_arena_miss_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Blow Away"  matTooltip="Blow Away"><img src="assets/images/pirates_arena_KnockBack_up.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Special CT"  matTooltip="Special CT"><img src="assets/images/pirates_arena_SP_speed_up.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Debuffs</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Debuff Filter" [(ngModel)]="debuffs" name="debuffs" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="ATK"  matTooltip="ATK"><img src="assets/images/pirates_arena_attack_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="HP"  matTooltip="HP"><img src="assets/images/pirates_arena_strength_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="RCV"  matTooltip="RCV"><img src="assets/images/pirates_arena_cure_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="DEF"  matTooltip="DEF"><img src="assets/images/pirates_arena_defence_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="SPD"  matTooltip="SPD"><img src="assets/images/pirates_arena_speed_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Critical Hit"  matTooltip="Critical Hit"><img src="assets/images/pirates_arena_critical_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Guard"  matTooltip="Guard"><img src="assets/images/pirates_arena_guard_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Accuracy"  matTooltip="Accuracy"><img src="assets/images/pirates_arena_miss_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Blow Away"  matTooltip="Blow Away"><img src="assets/images/pirates_arena_KnockBack_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Special CT"  matTooltip="Special CT"><img src="assets/images/pirates_arena_SP_speed_down.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="time"  matTooltip="Damage over time"><img src="assets/images/pirates_arena_effect_icon_continue_damage.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Damage Dealer</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Boon Filter" [(ngModel)]="damage" name="damage" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="atk"  matTooltip="ATK stat based damage">ATK Stat</mat-button-toggle>
        <mat-button-toggle value="fixed"  matTooltip="Fixed damage amount">Fixed Damage</mat-button-toggle>
        <mat-button-toggle value="cut"  matTooltip="Percentage health cut">Percent Cut</mat-button-toggle>
        <mat-button-toggle value="multiple" matTooltip="Multiple hits">Multiple hits</mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Restorative</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Boon Filter" [(ngModel)]="recharge" name="recharge" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="RCV"  matTooltip="RCV stat based healing">RCV Stat</mat-button-toggle>
        <mat-button-toggle value="fixed"  matTooltip="Fixed recovery amount">Fixed Heal</mat-button-toggle>
        <mat-button-toggle value="percentage"  matTooltip="Heal by a percentage of max HP">Percent Heal</mat-button-toggle>
        <mat-button-toggle value="Special CT"  matTooltip="Charge special by a percentage of its charge time"><img src="assets/images/pirates_arena_effect_icon_special_cure.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Boon Filter" [(ngModel)]="boons" name="boons" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="Revive"  matTooltip="Revive"><img src="assets/images/healing.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-title>Add Status</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Hindrance Filter" [(ngModel)]="hinderances" name="hinderances" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="Action Bind"  matTooltip="Action Bind"><img src="assets/images/pirates_arena_effect_icon_action_cancel.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Silence"  matTooltip="Silence, aka Special Bind"><img src="assets/images/pirates_arena_effect_icon_special_cancel.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Paralysis"  matTooltip="Paralysis"><img src="assets/images/pirates_arena_effect_icon_paralysis.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Provoke"  matTooltip="Provoke"><img src="assets/images/pirates_arena_effect_icon_taunt.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Boon Filter" [(ngModel)]="boons" name="boons" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="Counter"  matTooltip="Counter"><img src="assets/images/nao.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Reduce Status</mat-card-title>
    <mat-card-actions align="start">
      <mat-button-toggle-group fxLayout="row wrap" aria-label="Boon Filter" [(ngModel)]="boons" name="boons" multiple (change)="handleFormChange(filterForm)">
        <mat-button-toggle value="Action Bind"  matTooltip="Action Bind"><img src="assets/images/pirates_arena_effect_icon_action_cancel.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Silence"  matTooltip="Silence, aka Special Bind"><img src="assets/images/pirates_arena_effect_icon_special_cancel.png" width="48" height="48"/></mat-button-toggle>
        <mat-button-toggle value="Paralysis"  matTooltip="Paralysis"><img src="assets/images/pirates_arena_effect_icon_paralysis.png" width="48" height="48"/></mat-button-toggle>
      </mat-button-toggle-group>
    </mat-card-actions>
  </mat-card>

</form>
<div class="warning"><h2>NOTE: This site pulls from <a href="http://optc-db.github.io/">http://optc-db.github.io/</a>, which is currently missing some pirate rumble data.</h2></div>
