.content {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.teams-divider {
  margin: 10px 0px;
}

.battle-timer-container {
  margin-top: 10px;
}

.battle-timer-container .mat-slider {
  width: 100%;
}