.content {
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
}

.team-totals {
  width: 125px;
}

.team-total-item,
.card-header {
  display: flex;
  justify-content: space-between;
}

.battle-timer-container {
  margin-top: 10px;
}

.battle-timer-container .mat-slider {
  width: 100%;
}