<div class="content">
  <div>
    <app-team
      [team]="blueTeam"
      (unitClick)="unitClick(blueTeam, $event)"
      (hpChange)="unitHpChange($event)"
      [battleTimer]="battleTimer"
    ></app-team>
    <mat-divider class="teams-divider"></mat-divider>
    <app-team
      [team]="redTeam"
      (unitClick)="unitClick(redTeam, $event)"
      (hpChange)="unitHpChange($event.unit)"
      [battleTimer]="battleTimer"
    ></app-team>
    <mat-card class="battle-timer-container">
      <mat-card-content>
        <div class="card-header">
          <h2 class="card-title">Battle Timer: {{battleTimer}}</h2>
          <h2 class="card-title">Elapsed Time: {{initialBattleTime - battleTimer}}</h2>
        </div>
        <mat-slider
          [invert]="true"
          [max]="initialBattleTime"
          [min]="0"
          [step]="1"
          [tickInterval]="10"
          [(ngModel)]="battleTimer"
          (input)="battleTimerChange($event)"
          [thumbLabel]="true"
        >
        </mat-slider>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<!-- <div style="color: white; width: 100%;">
  <div style="width: 50%; display: inline-block; float: left;">
    <pre>
      {{blueTeam | json}}
    </pre>
  </div>
  <div style="width: 50%; display: inline-block; float: left;">
    <pre>
      {{redTeam | json}}
    </pre>
  </div>
</div> -->
