<mat-sidenav-container>
  <mat-sidenav #optionsNav mode="over" style="min-width: 200px;">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="onSidenavClose()">
          <mat-icon>list</mat-icon> <span class="nav-caption">Database</span>
      </a>
      <a mat-list-item routerLink="/team-builder" (click)="onSidenavClose()">
          <mat-icon>people</mat-icon> <span class="nav-caption">Team Builder</span>   
      </a>
      <a mat-list-item routerLink="/team-builder/gp" (click)="onSidenavClose()">
        <mat-icon>people_outline</mat-icon> <span class="nav-caption">GP Team Builder</span>   
      </a>
    </mat-nav-list>
    <app-team-builder-options
      (optionClick)="optionClick($event)"
      [teams]="[blueTeam, redTeam]"
    ></app-team-builder-options>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <mat-toolbar>
        <button (click)="optionsNav.toggle()" mat-icon-button color="basic" aria-label="Open menu">
          <mat-icon>menu</mat-icon>
        </button>
        <span>OPTC Pirate Rumble Team Builder</span>
      </mat-toolbar>
    </div>
    <div class="content">
      <div>
        <div class="team-container" *ngFor="let team of [blueTeam, redTeam]">
          <app-team
            [team]="team"
            (unitClick)="unitClick(team, $event)"
            (unitHpChange)="unitHpChange($event)"
            [battleTimer]="battleTimer"
            [compact]="false"
          ></app-team>
        </div>
        <mat-card class="battle-timer-container">
          <mat-card-content>
            <div class="card-header">
              <h2 class="card-title">Battle Timer: {{battleTimer}}</h2>
              <h2 class="card-title">Elapsed Time: {{initialBattleTime - battleTimer}}</h2>
            </div>
            <mat-slider
              [invert]="true"
              [max]="initialBattleTime"
              [min]="0"
              [step]="1"
              [tickInterval]="10"
              [(ngModel)]="battleTimer"
              (input)="battleTimerChange($event)"
              [thumbLabel]="true"
            >
            </mat-slider>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
