/* You can add global styles to this file, and also import other style files */

/* Orb colors */
.STR   { background: salmon; }
.QCK   { background: lightskyblue; }
.DEX   { background: lightgreen; }
.PSY   { background: gold; }
.INT   { background: orchid; }
.RCV   { background: darkgoldenrod; }
.TND   { background: peru; }
.BLOCK { background: darkslateblue; }
.BOMB  { background: maroon; }
.WANO  { background: firebrick; }
.SEMLA  { background: saddlebrown; }
.RAINBOW { background: linear-gradient(90deg,#fa8072,#ffd700,#90ee90,#87cefa, #da70d6); }
.SUPERBOMB { background: linear-gradient(90deg, #ff2600, #debb2f, #ff2600); }
.G     { background: orange; }
.EMPTY { background: #777; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #212121 }
.full-width { width: 100%; }
.list-item-with-right-button .mat-list-item-content {
  justify-content: space-between;
}
