<mat-action-list role="list">
  <div mat-subheader>Team options</div>
  <ng-container *ngFor="let option of teamOptions">
    <button mat-list-item (click)="triggerOption(option.type)">{{option.text}}</button>
    <mat-divider></mat-divider>
  </ng-container>
  <div mat-subheader>Picker options</div>
  <ng-container *ngFor="let option of pickerOptions">
    <button mat-list-item (click)="triggerOption(option.type)">{{option.text}}</button>
    <mat-divider></mat-divider>
  </ng-container>
</mat-action-list>

<ng-container *ngFor="let team of teams">
  <mat-selection-list [ngModel]="team.main" (ngModelChange)="specialChange($event, team)">
    <div mat-subheader [class]="team.color">{{team.color | titlecase}} Team</div>
    <ng-container *ngFor="let unit of team.main | validUnit">
      <mat-list-option [value]="unit.id">{{unit.name}}</mat-list-option>
      <mat-divider></mat-divider>
    </ng-container>
    <mat-divider></mat-divider>
  </mat-selection-list>
</ng-container>
