<mat-sidenav-container>
  <mat-sidenav #filters mode="side" opened fixedInViewport style="max-width:255px">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>list</mat-icon> <span class="nav-caption">Database</span>
    </a>
    <a mat-list-item routerLink="/team-builder" (click)="onSidenavClose()">
        <mat-icon>people</mat-icon> <span class="nav-caption">Team Builder</span>   
    </a>
    <a mat-list-item routerLink="/team-builder/gp" (click)="onSidenavClose()">
      <mat-icon>people_outline</mat-icon> <span class="nav-caption">GP Team Builder</span>   
    </a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <app-filters></app-filters>
    <mat-divider></mat-divider>
    <app-changelog></app-changelog>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-toolbar>
        <button (click)="filters.toggle()" mat-icon-button color="basic" aria-label="Example icon button with a menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>OPTC Pirate Rumble Database</span>
      </mat-toolbar>
    </p>
    <app-unit-table></app-unit-table>
  </mat-sidenav-content>
</mat-sidenav-container>
