<div class="team-container" fxLayout="row wrap">
  <div *ngFor="let unit of team.main; let index=index;" class="unit-container">
    <app-unit-card
      [unit]="unit"
      [teamEffects]="team.effects"
      [battleTimer]="battleTimer"
      (unitClick)="mainTeamUnitClick(index)"
      (hpChange)="hpChange(unit, $event)"
      [style]="team.color"
    ></app-unit-card>
  </div>
  <div class="subs-space"></div>
  <div *ngFor="let unit of team.subs; let index=index;" class="unit-container">
    <app-unit-card
      [unit]="unit"
      [teamEffects]="team.effects"
      [battleTimer]="battleTimer"
      (unitClick)="subTeamUnitClick(index)"
      [style]="team.color"
    ></app-unit-card>
  </div>
  <!-- <app-team-totals [totals]="team.totals"></app-team-totals> -->
</div>